body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://i.ytimg.com/vi/QpPYsyWREqg/maxresdefault.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.success{
    background-color: green;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.error{
    background-color: tomato;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.container {
    background-color: #3498db; /* Dashing and dynamic color */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fff; /* Text color in the dynamic color scheme */
}

label {
    margin: 10px 0;
    color: #fff; /* Text color in the dynamic color scheme */
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #fff; /* Button color in the dynamic color scheme */
    color: #3498db; /* Text color in the dynamic color scheme */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ecf0f1; /* Button hover color in the dynamic color scheme */
}

.signup-link {
    margin-top: 20px;
    color: #fff; /* Text color in the dynamic color scheme */
}

.signup-link a {
    color: #ecf0f1; /* Link color in the dynamic color scheme */
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
